
exercism/__pycache__
/exercism/*/__pycache__
/exercism/python/*/.exercism
*.pyc
*.md
exercism/python/*/*_test.py
*.xlsx
automate/automate_online-materials/*
*.pyc
*.pdf
automate/*/test.py
*.docx
exercism/python/*/__pycache__/*
exercism/python/sieve/sieve2.py
